%h2 Forgot your password?

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, label: false, required: false, autofocus: true, wrapper: :prepend do
      <span class="add-on"><i class="icon-envelope-alt"></i></span>
      = f.input_field :email, placeholder: 'Email Address'

  .form-actions
    = f.button :submit, "Send Instructions", class: 'btn-inverse btn-large'
    = render "devise/shared/links"

