!!!
%html
  %head
    %title= t('protoadmin.site_title')
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = stylesheet_link_tag 'protoadmin', 'protoadmin/styleguide', "protoadmin/themes/#{Protoadmin.configuration.theme}"
    = javascript_include_tag 'protoadmin'
  %body{class: @body_class}

    = render partial: "/protoadmin/layout/header"
    - Protoadmin.configuration.layout.each do |partial|
      = render partial: "/protoadmin/layout/#{partial}"
