%h2 Change your password

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token

  .form-inputs
    = f.input :password, label: false, required: false, autofocus: true, wrapper: :prepend do
      <span class="add-on"><i class="icon-key"></i></span>
      = f.input_field :password, placeholder: 'New Password'
    = f.input :password_confirmation, label: false, required: false, autofocus: true, wrapper: :prepend do
      <span class="add-on"><i class="icon-check"></i></span>
      = f.input_field :password_confirmation, placeholder: 'Password Confirmation'

  .form-actions
    = f.button :submit, "Change my password", class: 'btn-inverse btn-large'
    = render 'devise/shared/links'
