= provide :section_title, 'Introduction'

= container :title => 'Inline Styles' do
  %h2.styleguide Basic Inline Styles
  The tags are outlined in this paragraph. Lorem ipsum <mark>content in a mark tag</mark>, consectetur adipiscing elit. In <code>content in a code tag</code> gravida egestas neque, quis suscipit enim pretium eu. Mauris vulputate bibendum auctor. Donec rutrum tellus a diam condimentum molestie eu vel lorem. Aliquam erat volutpat. Aenean sit amet nisl a ligula volutpat volutpat. Donec commodo, lacus imperdiet venenatis gravida, arcu nulla sodales urna, vel facilisis libero est ac arcu. Proin semper faucibus sem, <a href="#">content in an a tag</a> scelerisque fermentum arcu lobortis et.


= container :title => 'Block Styles' do
  %h2.styleguide Header Types
  %h1 Header 1
  %h2 Header 2
  %h3 Header 3
  %h4 Header 4
  %h5 Header 5
  %h6 Header 6

  %h2.styleguide Block Types (Paragraph, Blockquote, Pre)
  %p <strong>Paragraph:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida egestas neque, quis suscipit enim pretium eu. Mauris vulputate bibendum auctor. Donec rutrum tellus a diam condimentum molestie eu vel lorem. Aliquam erat volutpat. Aenean sit amet nisl a ligula volutpat volutpat. Donec commodo, lacus imperdiet venenatis gravida, arcu nulla sodales urna, vel facilisis libero est ac arcu. Proin semper faucibus sem, scelerisque fermentum arcu lobortis et. Cras dolor felis, accumsan quis faucibus nec, luctus vitae ipsum. Vestibulum ac dolor urna, in adipiscing arcu. Curabitur malesuada accumsan orci id viverra. Ut ultricies lectus ut erat egestas molestie. Aliquam et cursus ipsum. Phasellus neque orci, euismod at ullamcorper et, porttitor in nisi. Vivamus sit amet libero ac orci malesuada scelerisque.
  %hr
  %blockquote <strong>Blockquote:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida egestas neque, quis suscipit enim pretium eu. Mauris vulputate bibendum auctor. Donec rutrum tellus a diam condimentum molestie eu vel lorem. Aliquam erat volutpat. Aenean sit amet nisl a ligula volutpat volutpat. Donec commodo, lacus imperdiet venenatis gravida, arcu nulla sodales urna, vel facilisis libero est ac arcu. Proin semper faucibus sem, scelerisque fermentum arcu lobortis et. Cras dolor felis, accumsan quis faucibus nec, luctus vitae ipsum. Vestibulum ac dolor urna, in adipiscing arcu. Curabitur malesuada accumsan orci id viverra. Ut ultricies lectus ut erat egestas molestie. Aliquam et cursus ipsum. Phasellus neque orci, euismod at ullamcorper et, porttitor in nisi. Vivamus sit amet libero ac orci malesuada scelerisque.
  %hr
  %pre= "Pre: Lorem ipsum dolor sit amet, consectetur adipiscing elit.\nIn gravida egestas neque, quis suscipit enim pretium eu.\nMauris vulputate bibendum auctor.\nDonec rutrum tellus a diam condimentum molestie eu vel lorem.\nAliquam erat volutpat.\nAenean sit amet nisl a ligula volutpat volutpat.\nDonec commodo, lacus imperdiet venenatis gravida, arcu nulla sodales urna, vel facilisis libero est ac arcu.\n"

  %h2.styleguide Tables
  %table{ :class => 'minimalist', :style => 'width: 50%' }
    %thead
      %tr
        %th Header
        %th Header
        %th Header
    %tfoot
      %tr
        %th Footer
        %th Footer
        %th Footer
    %tbody
      %tr
        %td Cell
        %td Cell
        %td Cell
      %tr
        %td Cell
        %td Cell
        %td Cell
      %tr
        %td Cell
        %td Cell
        %td Cell

  %h2.styleguide Lists
  %ul
    %li
      list item 1
      %ul
        %li
          list item 1
          %ul
            %li list item 1
            %li list item 2
            %li list item 3
        %li list item 2
        %li list item 3
    %li list item 2
    %li list item 3
  %ol
    %li
      list item 1
      %ol
        %li
          list item 1
          %ol
            %li list item 1
            %li list item 2
            %li list item 3
        %li list item 2
        %li list item 3
    %li list item 2
    %li list item 3

  %h2.styleguide Definition Lists
  %dl
    %dt Lorem ipsum
    %dd In gravida egestas neque, quis suscipit enim pretium eu. Mauris vulputate bibendum auctor.
    %dt Lorem ipsum
    %dd In gravida egestas neque, quis suscipit enim pretium eu. Mauris vulputate bibendum auctor.


= container :title => 'Message Styles' do
  %h2.styleguide Flash Messages
  %p
    Flash messages will be set automatically for you if you're using the responder that's included by default in the
    ProtoadminController.  The alert message will be set if anything goes wrong in the process, and the success message
    is set on successful creation, deletion, or update.  The others are provided for more flexibility.
  #flash_messages
    .flash-message.alert Alert Message.  Use :alert when setting this flash message.
    .flash-message.success Success Message.  Use :success when setting this flash message.
    .flash-message.error Error Message.  Use :error when setting this flash message.
    .flash-message Notification Message.  Use :notice when setting this flash message.
