!!!
%html
  %head
    %title= page_title
    = csrf_meta_tags
    = stylesheet_link_tag 'protoadmin'
    = javascript_include_tag 'protoadmin'
  %body

    #primary_title_bar
      %h1= site_title
      %h2= section_title

    #secondary_title_bar
      %h3= user_information
      %h4= breadcrumbs

    #primary_control= render 'layouts/protoadmin/primary_control'
    #primary_content.content= render 'layouts/protoadmin/primary_content'
    #additional_info= render 'layouts/protoadmin/additional_info'
