!!!
%html
  %head
    %title= t('protoadmin.site_title')
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = stylesheet_link_tag 'protoadmin'
    = javascript_include_tag 'protoadmin'
  %body
    = render partial: 'layouts/protoadmin/layout/header'
    = render partial: 'layouts/protoadmin/layout/search'
    = render partial: 'layouts/protoadmin/layout/user_nav'
    = render partial: 'layouts/protoadmin/layout/main_nav'
    #content= yield
