!!!
%html
  %head
    %title Site Title
    = stylesheet_link_tag "protoadmin"
    = javascript_include_tag "protoadmin"
    = csrf_meta_tags
  %body

    #primary_bar
      %h1 Site Title
      %h2 Section Title

    #secondary_bar
      %h3 John Doe (#{link_to '3 Messages', '#'})
      %h4
        #breadcrumbs
          = link_to 'Bread', '#'
          = link_to 'Crumb', '#'
          = link_to 'Path', '#'

    #control
      %form#quick_search
        %input{ :type => 'text', :placeholder => 'Quick Search' }
        %hr
      - semantic_navigation :primary_navigation do |n|
        - Protoadmin::Navigation.structure.each do |group|
          = n.group group[0], group[1][:options] do
            - group[1][:items].each do |item|
              = n.item item[0], item[1]

    #content
      = yield

    #info
      %hr
      %h5 Copyright &copy; 2011 Site Title
      %span Theme by #{link_to 'MediaLoot', 'http://www.medialoot.com/', :target => '_blank'}

:plain
  <style>
  </style>